<mat-card class="game"
          style="margin: 1rem; padding-bottom: 1rem;"
          appearance="outlined">
  <mat-card-header>
    <div style="padding: 1rem;display: flex;justify-content: space-between;align-items: center;width: 100%">
      <mat-card-title>
          @if (showDetails) {
            <div>#{{game.id}} {{game.name}}</div>
          } @else {
            <a [routerLink]="['/games', game.id]">#{{game.id}} {{game.name}}</a>
          }
      </mat-card-title>

      @if (showDetails) {
        @let inCollection = inCollection$ | async;
        <button matButton="tonal" (click)="updateCollection(inCollection)">
          @if (inCollection) {
            Usuń z kolekcji
          } @else {
            Dodaj do kolekcji
          }
        </button>
      }
    </div>

  </mat-card-header>

  @if (gameDetails$ | async; as gameDetails) {
    <mat-card-content>
      <p style="margin-bottom: 1.5rem;">{{gameDetails?.description ?? 'Szczegóły gry nie zostały jeszcze uzupełnione.'}}</p>

      <p>Długość rozgrywki: {{gameDetails.duration}} minut</p>
      <p>Minimalna ilość graczy: {{gameDetails.min_players}}</p>
      <p>Maksymalna ilość graczy: {{gameDetails.max_players}}</p>
    </mat-card-content>

    @if (gameDetails.categories.length) {
      <mat-card-footer>
        <div style="padding: 1rem;">
          <mat-chip-set>
            @for (category of gameDetails.categories; track category.id) {
              <mat-chip>{{ category.name }}</mat-chip>
            }
          </mat-chip-set>
        </div>
      </mat-card-footer>
    }
  }
</mat-card>
