<mat-sidenav-container class="sidenav-container" style="min-height: 100vh">
  <mat-sidenav #drawer
               mode="over"
               class="sidenav">
    <div style="padding-left: 1rem;">
      <mat-nav-list>
        <a mat-list-item routerLink="/games">
          Lista gier
        </a>
        <a mat-list-item routerLink="/collection">
          Kolekcja gier
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/">
        Game buddy
      </span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
